<div class = "skill_list">
  <%= render 'skills_form' %>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @skill], remote: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p> Name </p>
      <%= f.text_field :name %>
      
      <%= f.submit "+ Add skill", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

