<% provide(:title, 'Create Project') %>
<h1>Create Project</h1>

<div class="row">
  <div class="span10 offset2">
	<%= form_for [:admin, @project] do |f| %>
	   <%= render 'shared/error_messages', object: f.object %>

	   <p> Name </p>
	   <%= f.text_field :name %>

	   <p> Abbreviation </p>
	   <%= f.text_field :abbreviation %>
	      
	   <p> Start Date </p>
	   <%= f.date_select :startdate, order: [:month, :day, :year] %>
	      
	   <p> End Date </p>
	   <%= f.date_select :enddate, order: [:month, :day, :year] %>
	 
	  <p> Project Member </p>
	  <table class="table table-striped">

		  <thead>
		    <tr>
		      <th>Member</th>
		      <th>ID</th>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Birthday</th>
		      <th>Profile</th>
		    </tr>
		  </thead>
		  
		  <tbody>
	      <%= f.fields_for :user_position_in_projects do |builder| %>
	      	<tr>
			<div class="span4">
				<td><%= builder.check_box :member, checked: true %></td>
				<td><%= builder.object.user.id %>
					<%= builder.hidden_field :user_id, value: builder.object.user.id%>
				</td>
		    	<td><%= builder.object.user.name %></td>
		    	<td><%= builder.object.user.email %></td>
		    	<td><%= builder.object.user.birth_date.day %> /
		    		<%= builder.object.user.birth_date.month %> /
		    		<%= builder.object.user.birth_date.year %>
		    	</td>
		    	<td><%= builder.object.user.profile %></td>
			</tr>
	      <% end %>
		  </tbody>
		</table>
	  <%= f.submit "Create Project", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>

