<% provide(:title, 'Create Project') %>
<h1>Create Project</h1>

<div class="row">
  <div class="span10 offset2">
	<%= form_for([:admin, @project]) do |f| %>
	   <%= render 'shared/error_messages', object: f.object %>
	   
	   <p> Team </p>
	   <%= f.collection_select :team_id, Team.all, :id, :name, selected: 0 %>
	   
	   <p> Name </p>
	   <%= f.text_field :name %>

	   <p> Abbreviation </p>
	   <%= f.text_field :abbreviation %>
	      
	   <p> Start Date </p>
	   <%= f.date_select :startdate, order: [:month, :day, :year] %>
	      
	   <p> End Date </p>
	   <%= f.date_select :enddate, order: [:month, :day, :year] %>
	   
	   <p> Project Member </p>
	   <table id="team_members" class="table table-striped">
		  <thead>
		    <tr>
		      <th>Member</th>
		      <th>ID</th>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Birthday</th>
		      <th>Profile</th>
		    </tr>
		  </thead>
		  
		  <tbody>
	   		<%= render "user", f: f %>
	   	  </tbody>
		</table>
	   
	  <%= f.submit "Create Project", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>

<script>
	$(document).ready(function(){
	  	$('#project_team_id').change(function(){
	  		$.ajax({
	  		  data: {
	  		  	team_id: $(this).val()
	  		  },
	  		  type: "GET",
	  		  url: "new",
	  		  dataType: "html",
	  		  success: function(data){
		          $('#team_members').html( $( data ).find( '#team_members' ).html());
		      }
	  		});
	  	});
	});
</script>

