<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @user] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :birth_date %>
        <%= f.text_field :birth_date,value: (f.object.birth_date.strftime('%d/%m/%Y') if f.object.birth_date), :size => "20", class: 'datepicker'%>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <%= f.label :profile%>
        <%= f.text_area :profile %>
        <%= f.submit "Save changes", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
