<h1>Edit team : <%= @team.name %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @team] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p> Name </p>
      <%= f.text_field :name %>

      <p> Description </p>
      <%= f.text_area :description %>

      <% if @team.users.any? %>
        <h3>Remove member</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Select Members</th>
            <th>Select Leader</th>
            <th>Name</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Leader</th>
          </tr>
          </thead>
          <% @team.users.each do |user| %>
              <tbody>
              <tr>
                <td><%= check_box_tag "user_remove_ids[]", user.id %></td>
                <td><%= radio_button_tag :leader_id, user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.profile %></td>
                <% if(user.leader_flag == 1) %>
                  <td>Leader</td>
                <% else %>
                  <td>Member</td>
                <% end %>
              </tr>
              </tbody>
          <% end %>
        </table>
      <% end %>

      <h3><ol class = "add_new_user" id = "add_new_user"><%= link_to 'List free members', edit_admin_team_path(@team, :type => "get_free_member") %> </ol></h3>


      <ol class = "free_user_list" id = "free_user_list">
        <%= render 'free_user_form' %>
      </ol>

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('ol[id="add_new_user"]').click(function() {
      $('ol[id="free_user_list"]').show();
    });
  });
</script>
